In [1]:
# Importing dependencies
import pandas as pd
import sqlite3
from pprint import pprint

In [5]:
df = pd.read_csv('SanFrancisco Crime Incidents_Clean.csv')
df.head()

,Category,Description,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,Longitude,Latitude,Location
0,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,29-01-2016,11.00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
1,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,29-01-2016,11.00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)"
2,WARRANTS,WARRANT ARREST,Monday,25-04-2016,14.59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)"
3,NON-CRIMINAL,LOST PROPERTY,Tuesday,05-01-2016,23.50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)"
4,NON-CRIMINAL,LOST PROPERTY,Friday,01-01-2016,0.30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)"

In [6]:
conn = sqlite3.connect('San Francisco.db')
cur = conn.cursor()

In [8]:
cur.execute('DROP TABLE IF EXISTS SanFrancisco_Crime;')
conn.commit()

In [9]:
df.to_sql('SanFrancisco_Crime', con = conn)

In [20]:
cur.execute("SELECT COUNT(*) FROM SanFrancisco_Crime LIMIT 5;")
print(cur.fetchall())

[(150500,)]

### Top 10 Crime Categories

In [21]:
cur.execute("SELECT DISTINCT(Category), COUNT(*) as Number FROM SanFrancisco_Crime GROUP BY Category ORDER BY Number DESC LIMIT 10;")
pprint(cur.fetchall())

[('LARCENY/THEFT', 40409),
 ('OTHER OFFENSES', 19599),
 ('NON-CRIMINAL', 17866),
 ('ASSAULT', 13577),
 ('VANDALISM', 8589),
 ('VEHICLE THEFT', 6419),
 ('WARRANTS', 5914),
 ('BURGLARY', 5802),
 ('SUSPICIOUS OCC', 5782),
 ('MISSING PERSON', 4338)]

### District with Most Crimes

In [33]:
cur.execute("SELECT DISTINCT(PdDistrict), COUNT(*) as Number FROM SanFrancisco_Crime GROUP BY PdDistrict ORDER BY Number DESC LIMIT 1;")
pprint(cur.fetchall())

[('SOUTHERN', 28446)]

### Top 10 Crime Resolutions

In [39]:
cur.execute("SELECT DISTINCT(Resolution), COUNT(*) AS Number FROM SanFrancisco_Crime GROUP BY Resolution ORDER BY Number DESC LIMIT 10;")
pprint(cur.fetchall())

[('NONE', 107780),
 ('ARREST, BOOKED', 39416),
 ('UNFOUNDED', 1608),
 ('JUVENILE BOOKED', 1056),
 ('EXCEPTIONAL CLEARANCE', 371),
 ('ARREST, CITED', 144),
 ('CLEARED-CONTACT JUVENILE FOR MORE INFO', 58),
 ('NOT PROSECUTED', 22),
 ('LOCATED', 20),
 ('PSYCHOPATHIC CASE', 17)]

### Days with Most Crimes

In [50]:
cur.execute("SELECT DISTINCT(DayOfWeek), COUNT(*) AS Number FROM SanFrancisco_Crime GROUP BY DayOfWeek ORDER BY Number DESC LIMIT 2;")
pprint(cur.fetchall())

[('Friday', 23371), ('Saturday', 22172)]

It is seen that most criminal activities in San Francisco seems to occur on Weekends.

### Top 15 Regions in Crime

In [51]:
cur.execute("SELECT DISTINCT(Address), COUNT(*) AS Number FROM SanFrancisco_Crime GROUP BY Address ORDER BY Number DESC LIMIT 15;")
pprint(cur.fetchall())

[('800 Block of BRYANT ST', 3561),
 ('800 Block of MARKET ST', 1405),
 ('1000 Block of POTRERO AV', 644),
 ('900 Block of MARKET ST', 547),
 ('0 Block of UNITEDNATIONS PZ', 452),
 ('500 Block of JOHNFKENNEDY DR', 448),
 ('3200 Block of 20TH AV', 431),
 ('600 Block of VALENCIA ST', 399),
 ('100 Block of OFARRELL ST', 389),
 ('1100 Block of FILLMORE ST', 382),
 ('300 Block of EDDY ST', 347),
 ('0 Block of 6TH ST', 347),
 ('800 Block of MISSION ST', 345),
 ('16TH ST / MISSION ST', 343),
 ('700 Block of MISSION ST', 336)]

### Distribution of Crime over the Day

In [55]:
cur.execute("SELECT DISTINCT(Time), COUNT(*) AS Number FROM SanFrancisco_Crime GROUP BY Time ORDER BY Number DESC LIMIT 10;")
pprint(cur.fetchall())

[(12.0, 3842),
 (0.01, 3397),
 (18.0, 3165),
 (19.0, 2912),
 (20.0, 2902),
 (17.0, 2830),
 (21.0, 2590),
 (22.0, 2479),
 (16.0, 2443),
 (15.0, 2406)]